.exportBtn{
    background-color: white;
    color: #2369f6;
    border: 2px solid #2369f6;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.exportBtn:hover{
    cursor: pointer;
    background-color: #2369f6;
    color: #fff;
}